@import 'my_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

$font-dir: "/fonts/";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #000;
  color: #000;
}
.no-scroll {
  overflow: hidden;
}

::-webkit-input-placeholder { /* Edge */
  color: red;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::placeholder {
  color: #999 !important;
  font-weight: 200;
}
.footer{
  /*position: fixed;
  bottom: 0;*/
  width: 100%;
  height: 150px;
  padding: 0;
}
h1 {
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: capitalize;
}
h2 {
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 0px;
  text-transform: capitalize;
  white-space: normal;
}
h3 {
  text-align: left;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0px;
}
h4 {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0px;
}
p {
  text-align: left;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0px;
}
.quote {
  text-align: center;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-shadow: 0px 3px 6px #00000029;
}
.text-black {
  color: #000000;
}
.text-large {
  font-size: 14px;
}
.bg-lighter {
  background-color: #F5F5F5;
}
.bg-black {
  background-color: #000000;
}
.bg-ones {
  background-color: #111111;
}
button {
  background: rgb(255, 255, 255, .2) 0% 0% no-repeat padding-box;
  color: #5FBDC1;
  border-radius: 22px;
  width: 141px;
  height: 43px;
  border: none;
}
.call-button-text {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #5FBDC1;
  text-transform: capitalize;
  text-decoration: none;
}
button:hover {
  background: white 0% 0% no-repeat padding-box;
}
button:focus {
  outline: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #5FBDC1;
}
.nav-text > a {
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding-top: 20px;
}
.nav-text > a:hover {
  font-weight: 700;
}
.navbar-brand {
  width: auto;
  height: 62px;
}
.more-text {
  font-size: 11px;
  font-weight: 700;
  color: #5FBDC1;
}
.btn-services {
  background-color: rgba(95, 189, 193, 0.15);
  border-radius: 22px;
  width: 177px;
  height: 43px;
}
.btn-services a {
  color: #5FBDC1;
}
.btn-services:hover {
  background: #5FBDC1;
}
.btn-services:hover a {
  color: #fff;
}
.blurb {
  width: 450px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.card-text {
  color: #000000;
}
.card-title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0px;
  color: #000000;
}

// ARROW-ICON DOWN
.icon-down {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 1px solid rgba(249, 184, 7, 0.2);
  border-radius: 50%;
  color: #F9B807;
}
.icon-down i {
  position: relative;
  top: 8px;
}
.icon-down:hover {
  cursor: pointer;
}

// SLIDERS
.vueperslides .vueperslides__parallax-wrapper, .vueperslides__parallax-wrapper .vueperslides__track 
{ overflow: visible; }

.section-7 .vueperslides__parallax-wrapper, .section-7 .vueperslides__parallax-wrapper .vueperslides__track 
{ overflow: hidden; }

.vueperslides__inner .vueperslides__arrows--outside .vueperslides__arrow--prev { left: -8.5em; }
.vueperslides__inner .vueperslides__arrows--outside .vueperslides__arrow--next { right: -8.5em; }

.vueperslides__arrows button:hover {
  background: transparent;
}

.vueperslides__arrows button:focus {
  outline: none;
}

.vueperslides__track img {
  pointer-events: none;
}

// SLIDERS SECTION 7
.section-7 .vueperslides__bullet {
  color: #E9493D;
  max-width: 50px;
}

//PRODUCT PAGE GAP
.product--gap {
  width: 75%;
  margin: 0 auto;
}
@media only screen and (max-width:425px) {
  .product--gap {
    width: 85%;
    margin: 0 auto;
  }
}

//MOBILE TEXT
@media only screen and (max-width:768px) {
  h2 { font-size: 30px; }
}

@media only screen and (max-width:425px) {
  .h2-on-mobile { width: 70%; margin-left: auto; margin-right: auto; }
  h1 { font-size: 17px; }
}

@media only screen and (max-width:320px) {
  h2 { font-size: 22px; }
}